<!DOCTYPE html>
<html>
  <head>
    <title>UserActivityTrackingAnalysisPlatform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="flex flex-col min-h-screen">
    <div class="navbar bg-base-100 shadow-lg rounded-box flex mb-[20px] h-[45px] px-6">
      <%= render 'shared/navbar' %>
    </div>
      <%= render "shared/flash" if flash.any? %>
    <main class="flex-grow mx-[100px]" >
      <%= yield %>
    </main>
  </body>
</html>
